
@import './components';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}


.home{
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
}